UserManagement/Service References/ServiceReference/UserRepository.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserRepository" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52549/WcfCrudUser/Repositories/UserRepository.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52549/WcfCrudUser/Repositories/UserRepository.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfCrudUsers.Infrastructure" />
      <xsd:import schemaLocation="http://localhost:52549/WcfCrudUser/Repositories/UserRepository.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52549/WcfCrudUser/Repositories/UserRepository.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfCrudUsers.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UserService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="UserService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="UserService_GetAll_WcfExceptionFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WcfCrudUsers.Infrastructure" name="detail" element="q1:WcfExceptionFault" />
  </wsdl:message>
  <wsdl:message name="UserService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="UserService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="UserService_Get_WcfExceptionFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/WcfCrudUsers.Infrastructure" name="detail" element="q2:WcfExceptionFault" />
  </wsdl:message>
  <wsdl:message name="UserService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="UserService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="UserService_Create_WcfExceptionFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/WcfCrudUsers.Infrastructure" name="detail" element="q3:WcfExceptionFault" />
  </wsdl:message>
  <wsdl:message name="UserService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UserService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="UserService_Update_WcfExceptionFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/WcfCrudUsers.Infrastructure" name="detail" element="q4:WcfExceptionFault" />
  </wsdl:message>
  <wsdl:message name="UserService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="UserService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="UserService_Delete_WcfExceptionFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/WcfCrudUsers.Infrastructure" name="detail" element="q5:WcfExceptionFault" />
  </wsdl:message>
  <wsdl:portType name="UserService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/UserService/GetAll" message="tns:UserService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UserService/GetAllResponse" message="tns:UserService_GetAll_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/UserService/GetAllWcfExceptionFaultFault" name="WcfExceptionFaultFault" message="tns:UserService_GetAll_WcfExceptionFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/UserService/Get" message="tns:UserService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UserService/GetResponse" message="tns:UserService_Get_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/UserService/GetWcfExceptionFaultFault" name="WcfExceptionFaultFault" message="tns:UserService_Get_WcfExceptionFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/UserService/Create" message="tns:UserService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UserService/CreateResponse" message="tns:UserService_Create_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/UserService/CreateWcfExceptionFaultFault" name="WcfExceptionFaultFault" message="tns:UserService_Create_WcfExceptionFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/UserService/Update" message="tns:UserService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UserService/UpdateResponse" message="tns:UserService_Update_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/UserService/UpdateWcfExceptionFaultFault" name="WcfExceptionFaultFault" message="tns:UserService_Update_WcfExceptionFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/UserService/Delete" message="tns:UserService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UserService/DeleteResponse" message="tns:UserService_Delete_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/UserService/DeleteWcfExceptionFaultFault" name="WcfExceptionFaultFault" message="tns:UserService_Delete_WcfExceptionFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_UserService" type="tns:UserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/UserService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfExceptionFaultFault">
        <soap:fault use="literal" name="WcfExceptionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/UserService/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfExceptionFaultFault">
        <soap:fault use="literal" name="WcfExceptionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/UserService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfExceptionFaultFault">
        <soap:fault use="literal" name="WcfExceptionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/UserService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfExceptionFaultFault">
        <soap:fault use="literal" name="WcfExceptionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/UserService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfExceptionFaultFault">
        <soap:fault use="literal" name="WcfExceptionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserRepository">
    <wsdl:port name="BasicHttpBinding_UserService" binding="tns:BasicHttpBinding_UserService">
      <soap:address location="http://localhost:52549/WcfCrudUser/Repositories/UserRepository.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>