UserManagement/Service References/ServiceReference/UserRepository3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfCrudUsers.Infrastructure" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfCrudUsers.Infrastructure" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WcfExceptionFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Property" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Succeed" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WcfExceptionFault" nillable="true" type="tns:WcfExceptionFault" />
</xs:schema>